{% extends "layout.njk" %}

{% block title %}Donate{% endblock %}
{% block head %}
<link rel="stylesheet" href="/index-styles.css">
{% endblock %}

{% block content %}
<div class="container">
  <div class="column left">
    <h2>Left Section</h2>
    <p>This is the left section content.</p>
  </div>
  <div class="column right">
    <h2>Right Section</h2>
    <p>This is the right section content.</p>
  </div>
</div>
{% endblock %}

{% block script %}
{% endblock %}